<section class="p-2">
  <div class="grid grid-cols-2 gap-4">
    <div
      id="scroll-bar"
      class="relative overflow-x-auto overflow-y-auto h-screen rounded-md"
    >
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3">Nombre</th>
            <th scope="col" class="px-6 py-3">Edad</th>
            <th scope="col" class="px-6 py-3">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="bg-white border-b items-center {{
              itemSelectedId === client.id ? 'bg-gray-100' : ''
            }}"
            *ngFor="let client of clients"
            id="tr-{{ client.id }}"
          >
            <th
              (click)="onViewDetails(client)"
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap cursor-pointer"
            >
              {{ client.name }}
            </th>
            <th
              (click)="onViewDetails(client)"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap cursor-pointer"
            >
              {{ client.age }}
            </th>
            <th class="px-6 py-4">
              <div class="flex justify-start">
                <button
                [routerLink]="['/create-client',client.id]"
                  class="flex p-2 bg-green-400 rounded-md text-white text-md items-center"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
                    />
                  </svg>
                  Editar
                </button>
                <button
              
                  (click)="onDeleteClient(client)"
                  class="flex p-2 ml-4 bg-red-400 rounded-md text-white text-md items-center"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                    />
                  </svg>

                  Eliminar
                </button>
              </div>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div> -->
    <div class="justify-center">
      <div class="">
        <div class="h-screen bg-white shadow-xl rounded-lg py-3">
          <div class="photo-wrapper p-2">
            <img
              class="w-32 h-32 rounded-full mx-auto"
              src="https://pixabay.com/get/gf609f478ebb3658e2039dee7d9afc27a02e1395d252a0e97b7cc168a4f5842ca5b7cbb60f1420f8d8428bca15f478e4ef6f574cd6f7c25cb1a36f820f5495f7b87e84b9aeaedffad2827c7908b7912b8_1280.png"
              alt="Profile"
            />
          </div>
          <div class="p-2">
            <h3 class="text-center text-xl text-gray-900 font-medium leading-8">
              {{this.client.name}}
            </h3>
            <div class="text-center text-gray-400 text-xs font-semibold">
              <p> {{this.clientProfile.career}}</p>
            </div>
            <hr class="m-4" />
            <div class="text-center">
              <p class="px-2 text-gray-800 font-bold">Edad</p>
              <p class="px-2">{{this.client.age}}</p>
            </div>
            <div class="text-center">
              <p class="px-2 py-2 text-gray-800 font-bold">Idioma</p>
              <p class="px-2">{{this.clientProfile.language}}</p>
            </div>
            <div class="text-center">
              <p class="px-2 py-2 text-gray-800 font-bold">Nacionalidad</p>
              <p class="px-2">{{this.clientProfile.nationality}}</p>
            </div>
            <hr class="m-4" />
            <div class="text-center">
              <p class="px-2 py-2 text-gray-800 font-bold">Address</p>
            
                <Address class="px-2">
                  {{this.clientAddress.street+' #'+ this.clientAddress.no_apartment+', '+this.clientAddress.city}}
                </Address>
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
